  /* Styles for Mobile Devices */
@media (max-width: 767px) {
    body{
        font-family: 'Bebas Neue', sans-serif;
        background-color: #ffffffd0;
    }
    
    #cityTemp{
        color:white;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;
        margin: 0 10px 0 10px;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    /* SearchBar style */
    navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 0 10px;
    }
    #searchButton {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background-color: #ffffffd0;
        color: black;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    #searchButton:hover {
        background: #7c7c7c6b;
    }
    
    #searchButtonDark {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background: #000000d0;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    #searchButtonDark:hover {
        background: #7c7c7c6b;
    }
    
    input#searchBar {
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background-color: #ffffffd0;
        color: black;
        font-family: inherit;
        font-size: 105%;
        width: calc(100% - 100px);
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    input#searchBarDark {
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background: #000000d0;
        color: white;
        font-family: inherit;
        font-size: 105%;
        width: calc(100% - 100px);
    }
    
    /* Clock container */
    .clockContainer{
        font-size: 10em;
        font-weight: 100;
    
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
        gap: 10px;
    }
    
    .clockContainer .hourDisplay, .clockContainer .minDisplay {
        
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 45%;
        height: 100%;
    
        background: #ffffffd0;
        color: black;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    
        border-radius: 10px;
        
    }
    
    .clockContainer .hourDisplayDark, .clockContainer .minDisplayDark {
        
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 45%;
        height: 100%;
    
        background: #000000d0;
        color: white;
    
        border-radius: 10px;
        
    }
    
    /* Weather Container */
    .weatherContainer{
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        color: white;
    }
    
    .iconAndTemp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    .containerCheckbox > input{
        appearance: none;
        position: relative;
        width: 50px;
        height: 30px;
        border-radius: 25px;
        background-color: #ffffffd0;
        transition: .3s;
        outline: none;
        cursor: pointer;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    .containerCheckbox > input::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: 1.25rem;
        width: 1.25rem;
        background-color: #000000d0;
        transition: left .3s;
    }
    
    .containerCheckbox > input:checked::after {
        left: 70%;
    }
    
    
    /* Date Section */
    .dateContainer{
        font-size: 4em;
    
        background: #ffffffd0;
        color: black;
        border-radius: 10px;
        margin: 2vh 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    .dateContainerDark{
        font-size: 4em;
        background-color: #000000d0;
        color: white;
        border-radius: 10px;
        margin: 2vh 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}
 
 /* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    body{
        font-family: 'Bebas Neue', sans-serif;
        background-color: #ffffffd0;
    }
    
    #cityTemp{
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    /* SearchBar style */
    navbar{
        display: flex;
        justify-content: center;
        margin: 10px 0 10px 0;
    }
    #searchButton {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background-color: #ffffffd0;
        color: black;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    #searchButton:hover {
        background: #7c7c7c6b;
    }
    
    #searchButtonDark {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background: #000000d0;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    #searchButtonDark:hover {
        background: #7c7c7c6b;
    }
    
    input#searchBar {
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background-color: #ffffffd0;
        color: black;
        font-family: inherit;
        font-size: 105%;
        width: calc(100% - 100px);
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    input#searchBarDark {
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background: #000000d0;
        color: white;
        font-family: inherit;
        font-size: 105%;
        width: calc(100% - 100px);
    }
    
    /* Clock container */
    .clockContainer{
        font-size: 10em;
        font-weight: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
        gap: 10px;
    }
    
    .clockContainer .hourDisplay, .clockContainer .minDisplay {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 100%;
        background: #ffffffd0;
        color: black;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        
    }
    
    .clockContainer .hourDisplayDark, .clockContainer .minDisplayDark {
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 100%;
    
        background: #000000d0;
        color: white;
        border-radius: 10px;
    }
    
    /* Weather Container */
    .weatherContainer{
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        color: white;
    }
    
    .iconAndTemp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    .containerCheckbox > input{
        appearance: none;
        position: relative;
        width: 50px;
        height: 30px;
        border-radius: 25px;
        background-color: #ffffffd0;
        transition: .3s;
        outline: none;
        cursor: pointer;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    .containerCheckbox > input::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: 1.25rem;
        width: 1.25rem;
        background-color: #000000d0;
        transition: left .3s;
    }
    
    .containerCheckbox > input:checked::after {
        left: 70%;
    }
    
    
    /* Date Section */

    .centerContainerDate{
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .dateContainer{
        font-size: 4em;
        background: #ffffffd0;
        color: black;
        border-radius: 10px;
        width: 550px;
        margin: 2vh 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dateContainerDark{
        font-size: 4em;
        background-color: #000000d0;
        color: white;
        border-radius: 10px;
        width: 550px;
        margin: 2vh 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

  /* Styles for desktops */
@media (min-width: 992px) {
    body{
        font-family: 'Bebas Neue', sans-serif;
        background-color: #ffffffd0;
    }
    
    #cityTemp{
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    /* SearchBar style */
    navbar{
        display: flex;
        justify-content: center;
        margin: 10px 0 10px 0;
    }
    #searchButton {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background-color: #ffffffd0;
        color: black;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    #searchButton:hover {
        background: #7c7c7c6b;
    }
    
    #searchButtonDark {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background: #000000d0;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    #searchButtonDark:hover {
        background: #7c7c7c6b;
    }
    
    input#searchBar {
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background-color: #ffffffd0;
        color: black;
        font-family: inherit;
        font-size: 105%;
        width: calc(100% - 100px);
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    input#searchBarDark {
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background: #000000d0;
        color: white;
        font-family: inherit;
        font-size: 105%;
        width: calc(100% - 100px);
    }
    
    /* Clock container */
    .clockContainer{
        font-size: 10em;
        font-weight: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4vh;
        gap: 10px;
    }
    
    .clockContainer .hourDisplay, .clockContainer .minDisplay {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 100%;
        background: #ffffffd0;
        color: black;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    
    .clockContainer .hourDisplayDark, .clockContainer .minDisplayDark {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 100%;
        background: #000000d0;
        color: white;
        border-radius: 10px;
    }
    
    /* Weather Container */
    .weatherContainer{
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        color: white;
    }
    
    .iconAndTemp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    .containerCheckbox > input{
        appearance: none;
        position: relative;
        width: 50px;
        height: 30px;
        border-radius: 25px;
        background-color: #ffffffd0;
        transition: .3s;
        outline: none;
        cursor: pointer;
    }
    
    .containerCheckbox > input::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: 1.25rem;
        width: 1.25rem;
        background-color: #000000d0;
        transition: left .3s;
    }
    
    .containerCheckbox > input:checked::after {
        left: 70%;
    }
    
    
    /* Date Section */
    .centerContainerDate{
        display: flex;
        align-items: center;
        justify-content: center;    
    }

    .dateContainer{
        font-size: 4em;
        background: #ffffffd0;
        color: black;
        width: 550px;
        border-radius: 10px;
        margin: 2vh 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
    
    .dateContainerDark{
        font-size: 4em;
        background-color: #000000d0;
        color: white;
        width: 550px;
        border-radius: 10px;
        float: none;
        margin: 2vh 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}



